body {
	padding: 0px;
	margin:0px;
	background-color: #333;
	font-family:verdana;
	color:white;
	text-align:center;
}
.box {
	background-color: #f1f1f1;
	margin: 10px;
	max-width:1200px;
	padding:10px;
	text-align:left;
	border-radius: 25px;
}
.boxBig {
	background-color: black;
	margin: 10px;
	max-width:750px;
	padding: 10px;
	color:black;
	border-radius: 35px;
}
header{
	 font-size:150%;
}

/*Shows the shape before transformations*/
div#3DTranslate {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: translate3d(10px, 10px, 10px);
}

/*Shows a shape translating in 3D*/
div#3DTranslate {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: translate3d(10px, 10px, 10px);
}

/*Shows a shape translating on the x and y axis*/
div#xyTranslate {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: translate(10px, 10px);
}

/*Shows a shape translating on the x axis*/
div#xTranslate {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: translateX(10px);
}

/*Shows a shape translating on the y axis*/
div#yTranslate {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: translateY(10px);
}

/*Shows a shape translating on the z axis*/
div#zTranslate {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: translateZ(10px);
}

/*Shows a shape rotating on center point clockwise*/
div#2DRotate {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: rotate(50deg);
}

/*Shows a shape rotating on the x axis*/
div#xRotate {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: rotateX(50deg);
}

/*Shows a shape rotating on the y axis*/
div#yRotate {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: rotateY(50deg);
}

/*Shows a shape rotating on the z axis*/
div#zRotate {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: rotateZ(50deg);
}

/*Shows a shape scaling on the x and y axis*/
div#xyScale {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: scale(40px, 40px);
}

/*Shows a shape scaling on the x axis*/
div#xScale {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: scaleX(40px);
}

/*Shows a shape scaling on the y axis*/
div#yScale {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: scaleY(40px);
}


/*Shows a shape skewing on the x and y axis*/
div#xySkew {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: skew(10deg, 10deg);
}

/*Shows a shape skewing on the x axis*/
div#xSkew {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: skewX(10deg);
}

/*Shows a shape skewing on the y axis*/
div#ySkew {
	width: 50px;
	height: 50px;
	background-color: #72aabf;
	transform: skewY(10deg);
}