body {
	padding: 0px;
	margin:0px;
	background-color: #333;
	font-family:verdana;
	color:white;
	text-align:center;
}
.box {
	background-color: #f1f1f1;
	margin: 10px;
	max-width:1200px;
	padding:10px;
	text-align:left;
	border-radius: 25px;
}
.boxBig {
	background-color: black;
	margin: 10px;
	max-width:750px;
	padding: 10px;
	color:black;
	border-radius: 35px;
}
header{
	 font-size:150%;
}
/*These are the boxes for transforming*/

/*Shows a shape growing on the x and y axis*/
div#2DRotate {
	width: 150px;
	height: 150px;
	background-color: yellow;
	transform: rotate(50deg);
}

/*Shows a shape growing on the x and y axis*/
div#xRotate {
	width: 150px;
	height: 150px;
	background-color: yellow;
	transform: rotateX(50deg);
}

/*Shows a shape growing on the x and y axis*/
div#yRotate {
	width: 150px;
	height: 150px;
	background-color: yellow;
	transform: rotateY(50deg);
}

/*Shows a shape growing on the x and y axis*/
div#zRotate {
	width: 150px;
	height: 150px;
	background-color: yellow;
	transform: rotateZ(50deg);
}