body {
	padding: 0px;
	margin:0px;
	background-color: #333;
	font-family:verdana;
	color:white;
	text-align:center;
}
.box {
	background-color: #f1f1f1;
	margin: 10px;
	max-width:1200px;
	padding:10px;
	text-align:left;
	border-radius: 25px;
}
.boxBig {
	background-color: black;
	margin: 10px;
	max-width:750px;
	padding: 10px;
	color:black;
	border-radius: 35px;
}

.container {
  padding: 9px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.half {
  padding: 0;
  min-width: 140px;
  width: 340px;
  height: 150px;
  margin-top: 5px;
  color: black;
  font-weight: bold;
}

header{
	 font-size:150%;
}

input[type=text], select {
  width:25%;
  padding: 10px 8px;
  margin: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 9px;
}


button {
  width: 60%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: darkblue;
}

/*A simple animation transform combo to give an icon movement*/
.weather-icon {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  animation: trans-icon 1s infinite;
  transform: translate(20px);
  animation-direction: alternate;
  opacity: 1;
}

@keyframes trans-icon {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

/*An animation*/
/*An animation where color change occurs*/
@keyframes animation {
	0%		{background: #3c576d;}
	50%		{background: #ef8a1f;}
	100%	{background: #3c576d;}
}
/*A shape that will be animated to change color*/
#animation {
	width: 100px;
	height: 100px;
	background: #3c576d;
	border-radius: 50px;
	animation: animation 3s infinite;
}
/*Makes it possible for the user to pause the animation by hovering over it.*/
#animation:hover{
	animation-play-state: paused;
}

/*An transition*/
/*Shows a shape changing color*/
#transition{
	width: 100px;
	height: 100px;
	background: #3c576d;
	border-radius: 50px;
	transition: background 1.5s;
}
#transition:hover{
	background: #ef8a1f;
}
