body {
	padding: 0px;
	margin:0px;
	background-color: #333;
	font-family:verdana;
	color:white;
	text-align:center;
}
.box {
	background-color: #f1f1f1;
	margin: 10px;
	max-width:1200px;
	padding:10px;
	text-align:left;
	border-radius: 25px;
}
.boxBig {
	background-color: black;
	margin: 10px;
	max-width:750px;
	padding: 10px;
	color:black;
	border-radius: 35px;
}
/*Needed a container to half the boxes I am using for content*/
.container {
	padding: 9px;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.half {
	padding: 0;
	min-width: 140px;
	width: 340px;
	height: 150px;
	margin-top: 5px;
	color: black;
	font-weight: bold;
}

header{
	font-size:150%;
}

/*Changing the way the inputs look*/
input[type=text]{
	width:30%;
	padding: 10px 8px;
	margin: 5px 1px;
	border: 1px solid #ccc;
	border-radius: 9px;
}

select {
	width:80%;
	padding: 10px 8px;
	margin: 5px 1px;
	border: 1px solid #ccc;
	border-radius: 9px;
}

/*Simple Transition for when a user hovers/clicks the button*/
button {
	width: 100%;
	background-color: blue;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 9px;
	cursor: pointer;
	transition: background-color 1s;
}
/*Simple Transition turns background color from blue to dark blue*/
button:hover {
	background-color: darkblue;
}
/* Background for the weather icon*/
.weather-icon-shape {
	background-color: black;
	height: 100px;
	width: 100px;
	border-radius: 25px;
}

/*A simple animation transform combo to give an icon movement*/
.weather-icon {
	animation: trans-icon 1.5s infinite;
	transform: translate(35px);
	animation-direction: alternate;
	opacity: 1;
}
/*Translates the weather icon back and forth*/
@keyframes trans-icon {
	0% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(-5px);
	}
}