body {
	padding: 0px;
	margin:0px;
	background-color: #333;
	font-family:verdana;
	color:white;
	text-align:center;
}
.box {
	background-color: #f1f1f1;
	margin: 10px;
	max-width:1200px;
	padding:10px;
	text-align:left;
	border-radius: 25px;
}
.boxBig {
	background-color: black;
	margin: 10px;
	max-width:750px;
	padding: 10px;
	color:black;
	border-radius: 35px;
}
header{
	 font-size:150%;
}
/*These are the animations that I use for this assignment*/

/*An animation where growth occurs*/
@keyframes grow {
	from	{width: 50px; height: 50px;}
	to		{width: 100px; height: 100px;}
}
/*A shape that will be animated to grow*/
#grow {
	width: 50px;
	height: 50px;
	background: #3c576d;
	animation: grow 3s infinite;
}

/*An animation where color change occurs*/
@keyframes color {
	0%		{background: #3c576d;}
	100%	{background: #ef8a1f;}
}
/*A shape that will be animated to change color*/
#color {
	width: 50px;
	height: 50px;
	background: #3c576d;
	animation: color 3s infinite;
}

/*An animation where movement occurs*/
@keyframes move {
	0%		{left: 0px;}
	100%	{left: 100px;}
}
/*A shape that will be animated to move*/
#move {
	width: 50px;
	height: 50px;
	background: #3c576d;
	position: relative;
	animation: move 3s infinite;
}

/*An animation where movement, color change, and growth occurs*/
@keyframes combo {
	0%		{left: 0px; background: #3c576d; width: 50px; height: 50px;}
	100%	{left: 100px; background: #ef8a1f; width: 100px; height: 100px;}
}
/*A shape that will be animated to move, change color, and grow*/
#combo {
	width: 50px;
	height: 50px;
	background: #3c576d;
	position: relative;
	animation: combo 3s infinite;
}

/*A shape that will be animated to change color using linear timing function*/
#linear {
	width: 50px;
	height: 50px;
	background: #3c576d;
	animation: color 3s infinite;
	animation-timing-function: linear;
}

/*A shape that will be animated to change color using ease timing function*/
#ease {
	width: 50px;
	height: 50px;
	background: #3c576d;
	animation: color 3s infinite;
	animation-timing-function: ease;
}

/*A shape that will be animated to change color using ease-in timing function*/
#ease-in {
	width: 50px;
	height: 50px;
	background: #3c576d;
	animation: color 3s infinite;
	animation-timing-function: ease-in;
}

/*A shape that will be animated to change color using ease-out timing function*/
#ease-out {
	width: 50px;
	height: 50px;
	background: #3c576d;
	animation: color 3s infinite;
	animation-timing-function: ease-out;
}

/*A shape that will be animated to change color using ease-in-out timing function*/
#ease-in-out {
	width: 50px;
	height: 50px;
	background: #3c576d;
	animation: color 3s infinite;
	animation-timing-function: ease-in-out;
}