body {
	padding: 0px;
	margin:0px;
	background-color: #333;
	font-family:verdana;
	color:white;
	text-align:center;
}
.box {
	background-color: #f1f1f1;
	margin: 10px;
	max-width:1200px;
	padding:10px;
	text-align:left;
	border-radius: 25px;
}
.boxBig {
	background-color: black;
	margin: 10px;
	max-width:750px;
	padding: 10px;
	color:black;
	border-radius: 35px;
}
header{
	 font-size:150%;
}

/* A blue rounded square*/
.basicClass {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background-color: #3c576d;
}

/* A border to be added*/
.secondClass {
	border: 10px solid black;
}

/* An orange rounded square*/
.newClass {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background-color: #ef8a1f;
}

/*An animation where color change occurs*/
@keyframes animation {
	0%		{background: #3c576d;}
	50%		{background: #ef8a1f;}
	100%	{background: #3c576d;}
}
/*A shape that will be animated to change color*/
.animation {
	animation: animation 3s infinite;
}

/*A transition from one color to another color*/
.transition{
	transition: background 3s;
}
/*Activated by hovering*/
.transition:hover {
	background: #ef8a1f;
}